<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/9118fd64-84c5-44d6-b6e9-c04e0d82fd9d/resourcegroups/AdventureWebapiResourceGroup/providers/Microsoft.Web/sites/AdventureWebapi</ResourceId>
    <ResourceGroup>AdventureWebapiResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://adventurewebapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>adventurewebapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AdventureWebapi</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AdventureWebapi</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AdventureworksEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:pl89581.database.windows.net,1433;Initial Catalog=Adventureworks;Persist Security Info=True;User ID=arun;Password=Vedasri@011;Application Name=EntityFramework" Name="Data Source=tcp:pl89581.database.windows.net,1433;Initial Catalog=Adventureworks;Persist Security Info=True;User ID=arun;Password=Vedasri@011;MultipleActiveResultSets=True;Application Name=EntityFramework" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AdventureWebapi.Models.AdventureworksEntities, AdventureWebapi" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AdventureworksEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/Models.AdventureDB.csdl|res://*/Models.AdventureDB.ssdl|res://*/Models.AdventureDB.msl;provider=System.Data.SqlClient;provider connection string="Data Source=tcp:pl89581.database.windows.net,1433;Initial Catalog=Adventureworks;Persist Security Info=True;User ID=arun;Password=Vedasri@011;MultipleActiveResultSets=True;Application Name=EntityFramework"</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>